<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.Model.manager.dao.TbItemCustomMapper" >


    <!--table表内容   表字段名    查到的虚拟表字段名进行封装-->
    <sql id="Base_Column_List" >
     i.id,title, i.sell_point as sellPoint, i.price, i.num, i.barcode,
     i.image, i.cid, i.status, i.created, i.updated,c.name as catName
    </sql>
    
    <!--模糊查询条件判断-->
    <!--条件   1  查询对象不为null(首次访问table)
    2  空查询 -->
    <sql id="Where_Clause">
        <where>
          i.status!=3
          <if test="query!=null and query.title!=null and query.title!=''">
              and  i.title like '%${query.title}%'
          </if>
        </where>
    </sql>


<!--1   查询总条数-->
    <select id="itemCount"  resultType="_long">
        SELECT
        COUNT(1)
        FROM tb_item as i
        <include refid="Where_Clause"/>
    </select>

<!--2   分页查询-->
    <select id="listItemByPage"  resultType="com.qf.Model.manager.pojo.vo.TbItemCustom">

        SELECT
        <include refid="Base_Column_List"/>
        FROM tb_item AS i
        LEFT JOIN tb_item_cat AS c
        ON i.`cid`=c.`id`
        <include refid="Where_Clause"/>
        ORDER BY i.id DESC
        LIMIT #{page.pageFirstIndex},#{page.limit}

    </select>

    <update id="changeStatus">
        UPDATE tb_item
        SET STATUS = #{tbItem.status}
        WHERE id=#{tbItem.id}
    </update>
</mapper>