<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qf.Model.manager.dao.TbItemCatCustomMapper" >



  <select id="selectAll" resultType="com.qf.Model.manager.pojo.po.TbItemCat">
    SELECT
    c.`id`,c.`name`
    FROM tb_item_cat
    AS c
  </select>
</mapper>